.form2holder{
    margin: auto;
    height: 90vh;
    width: 80vh;
}


.section1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formheader{
    justify-content: center;
    align-items: center;
    display: flex;
}

.form2{
    width: 40vw;
    padding-bottom: 8vh;
    height: auto;
    margin: auto;
    text-align: center;
    align-content: center;
    /* box-shadow: 1px 2px 3px grey; */
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}


.form2 label{
    margin: auto;
    text-align: center; 
    font-size: 3vh;
    font-weight: bold;
}

.form2 input{
    padding-left: 4vh;
    width: 20vw;
    height: 5vh;
    margin: auto;
    border-radius: 0.8vw;
    box-sizing: border-box;
    /* border: none; */
    /* background-color: lightgray; */
    
    
}


.form2 button{
    width: 10vw;
    height: 5vh;
    border-radius: 30vh;
    margin-top: 2vh;
    background-color: teal;
    font-size: 2.5vh;
    color: white;
    border: none;
    transition: .3s ease-out;
}
/* form button hover block */


.form2 button:hover{
    width: 10.5vw;
    height: 5.5vh;
    transition: .3s ease-out;
    background-color: white;
    color: teal;
    outline: solid teal 2px;

}
