.UserPage{
    width: auto;
    height: auto;
    /* background-color: red; */
    display: flex;
}


.dashboard{
    width: 100vw;
    height: 100vh;
    /* background-color: #00AB66; */
    background-image: linear-gradient(to left, green , lightgreen);
    text-align: center;
    padding-left: 5vw;
}

.contents{
    width: 27vw;
    height: 70vh;
    background-color: white;
    border-radius: 2.5vw;
    float: left;
    font-size: 4vh;
    text-align: center;

}



.contents p{
    display: list-item;
    list-style-type: none;
    font-size: 4vh;
    text-align: left;
    margin-left: 5vw;
}