.UserPage{
    width: auto;
    height: auto;
    /* background-color: red; */
    display: flex;
}


.sidebar{
    float: left;
    width: 17vw;
    height: 70vh;
    border-radius: 2vw;
    background-color: teal;
    text-align: center;
    /* color: white; */
}

.sidebar p{
    color: white;
    /* font-size: 1.8vw; */
    text-align: left;
    margin-left: 2vw;
}

.dashboard{
    width: 100vw;
    height: auto;
    /* background-color: #00AB66; */
    /* background-image: linear-gradient(to left, green , lightgreen); */
    /* text-align: center; */
    padding-left: 5vw;
    padding-bottom: 5vh;
}

.dashboard h2{
    color: teal;
    font-size: 6.5vh;
}


/* .dashboard p{
    font-size: 5vh;
    font-weight: bold;
} */

.flexContainer{
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    gap: 7vh 3vw;
    float: right;
    margin-right: 5vw;
}

.flexContainer div{
    box-sizing: border-box;
    height: auto;
    padding: 5vh;
    text-align: center;
}

.flex0{
    width: 20vw;
    height: 30vh;
    background-color: teal;
    border-radius: 2vw;
}

.flex1{
    width: 20vw;
    height: 30vh;
    background-color: teal;
    border-radius: 2vw;
}

.flex2{
    width: 20vw;
    height: 30vh;
    background-color: teal;
    border-radius: 2vw;
}

.flex3{
    width: 20vw;
    height: 30vh;
    background-color: teal;
    border-radius: 2vw;
}

.flex4{
    width: 20vw;
    height: 30vh;
    background-color: teal;
    border-radius: 2vw;
}

.flex5{
    width: 20vw;
    height: 30vh;
    background-color: teal;
    border-radius: 2vw;
} 