body {
    width: 100%;
    height: auto;
    background-color: #FFFDD0;
    font-family: 'Poppins', sans-serif;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.landinginfo {
    height: 11vh;
    padding-left: 3vw;
    color: teal;
    font-size: larger;
    border-bottom: 1px solid;
    border-color: rgb(200, 200, 200);
    margin-left: 40px;
    margin-right: 40px;
}
.holster{
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-items: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: -10px;
}
.holster img{
    background-repeat: no-repeat;
    height: 600px;
    float: right;
    background-color: #FFFDD0;
    border-radius: 10px;
    margin-top: 10px;
}
.holster h1{
    z-index: 10;  
    float: left;
    max-width: 550px;
    font-size: 80px;
    color: black;
    font-weight: 600;
}
.buttonHolder {
    width: 20vw;
    height: auto;
    margin: auto;
    display: flex;
}

.buttonHolder button {
    width: 16vw;
    height: 7vh;
    background-color: teal;
    border-radius: 10vw;
    border: none;
    font-size: 3vh;
    color: white;
    margin-left: -400px;
    margin-top: -35px;
}
