.LandingPage{
    margin: auto;
    /* text-align: center; */
}
.landinginfo{
    width: 60vw;
    height: 5vh;
    margin-bottom: 5vh;
    padding-left: 3vw;
    color: darkgreen;
    
}
.holster{
    width: 100vw;
    height: 90vh;
    margin: auto;
    background-color: #128f6a;
    /* background-image: url('./tl.png') ; */
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
}
.buttonHolder{
    width: 20vw;
    height: 7vh;
    /* background-color: white; */
    margin: auto;
    display: flex;
}
.buttonHolder button{
    width: 16vw;
    height: 7vh;
    background-color: white;
    border-radius: 10vw;
    border: none;
    font-size: 3vh;
    margin: auto;
}
.moreInfo{
    width: 80vw;
    height: 60vh;
    /* background-color: red; */
    margin: auto;
    /* background-image: url('./tl.png'); */
}