.formHolder{
    width: 75vw;
    height: 90vh;
    margin: auto;
    
}

.section2{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.formm{
    margin: auto;
    height: 50vh;
    width: 30vw;
    padding-top: 4vh;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    box-shadow: 1vh 2vh 3vh grey;
}
.formm input{
    margin: auto;
    width: 15vw;
    height: 6vh;
    border-radius: 2vh;
    padding-left: 4vh;
    box-sizing: border-box;
}
.formm label{
    margin: auto;
    font-size: 3vh;
    text-decoration: solid;
}
.formm button{
    width: 8vw;
    align-items: center;
    text-align: center;
    border-radius: 10vh;
    background-color: #008080;
    border: none;
    font-size: 2vh;
    text-decoration: solid;
    color: white;
}
.warning{
    color: red;
}

.welcome{
    text-align: center;
    font-size: 6vh;
    color: #008080;
}


a {
    text-decoration: #008080;
    color: #008080;
}